.About {
	margin: 5px;
	padding: 0;
	animation: fadeIn ease 0.5s;
}

.About p {
	margin: 0;
	padding: 5px;
	text-align: center;
	font-family: monospace;
	font-size: 15px;
	color: #373737;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
