.NavigationBar {
	margin: 0;
	padding: 5px 0 5px 0;
	text-align: center;
}

.NavigationBar a {
	margin: 0 0 0 15px;
	padding: 0;
	font-family: monospace;
	font-size: 20px;
	text-decoration: none;
	color: #9b9b9b;
}

.NavigationBar a:first-child {
	margin: 0;
}

.NavigationBar a:hover {
	text-decoration: underline;
	color: #696969;
}
